@model Walgreens.Models.Prescription

@{
    ViewData["Title"] = "Delete Prescription";
}

<h2>Confirm Deletion</h2>
<h3>@Model.MedicationName (@Model.RequestDate.ToString("MM/dd/yyyy"))</h3>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="PrescriptionId" />

    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
